*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: green; */
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 60px;
    justify-content: space-evenly;
    
}
.main-container{
    width: 200px;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-image{
    height: 170px;
    width: 150px;
    /* background-color: yellow; */
    border-radius: 10px;
}

.blog-image img{
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.blog-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
.blog-title h2{
    font-size: 18px;
}
.blog-title p{
    font-size: 12px;
    margin-top: 5px;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#create-blog{
    font-weight: 900;
    font-size: 40px;
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;

}
button{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: beige;
    color: rgb(10, 90, 63);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background-color: rgb(192, 147, 235);
    color: white;
}
#createPage{
    display: none;
}